body {
    font-size: 200px;
    font-family: EBGaramond; 
  }

  p {
    font-size: 50px;
    width: 350px;
    margin: auto;
    margin-top: 46%;
    text-align: center;


  }
@font-face {
    font-family: EBGaramond;
    src: url(EBGaramond-Medium.ttf);
}
  
  #container {
    /* background-color: pink; */
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.letter { 
    /* background-color: orange; */
    /* align-items: center; */
    text-align: center;
    width: 150px;
    line-height: 80%;
    padding: 15px;


  }

  /* #box1 {
    background-color: blue;
  }

  #box2 {
    background-color: yellow;
  }
  
  #box3 {
    background-color: red;

  }

  #box4 {
    background-color: purple;
  } */

  img {
    height: 150px;
  }


