/* Version 1: Poster Shape */

.container {
    background: #FCE6A8;
    position: relative;
    width: 500px;
    
  /*   I want my height to be a total of 700px, but there's a 20px padding all around, so I'm giving it a height of 660px (700 - 20 - 20) */
    height: 660px; 
    padding: 20px;
    
  /*   This makes it horizontally centered */
  /*   It only works on "display:block" elements */
    margin: auto;
    
  /*   This makes it centered vertically */
  /*   It's 50% of the height, and subtracting half of the total height of the poster (which is 700px)'*/  
    margin-top: calc(50vh - 350px);
}

@font-face {
  font-family: Courgette;
  src: url(Courgette-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(Oswald-Bold.ttf);
}

 h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: 'Courgette';
  color: crimson;
  margin-left: 10px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -10px;
  text-transform: uppercase;
 }



.special {
  font-size: 25px;
  color: orange;
}

h2 {
  font-size: 30px;
  font-family: Oswald;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: right;


}

#location {
  display: none;
  position: absolute;
  right: 50px;
  top: 20px;

}

h3 {
  font-size: 20px;
  font-family: Oswald;
  text-align: right;
  text-transform: uppercase;
}

#dates {
  display: none;
  position: absolute;
  right: 50px;
  bottom: 20px;
}


.snorlax {
  width: calc(100% - 120px);
  height: auto;
  position: absolute;
  display: block;
  left: 100px;
  bottom: 20px;

}

.bedroom {
  width: calc(100% - 120px);
  height: auto;
  position: absolute;
  display: block;
  left: 100px;
  top: 20px;

}

img {
  width: 100%;
  
}

.bedroom:hover {
  display: none;
}

.bedroom:hover ~ #location {
  display: block;
}

.snorlax:hover {
  display: none;
}

.snorlax:hover ~ #dates {
  display: block;
}