/* Version 1: Poster Shape */

.container {
    background: #2a75bb;

    position: relative;
    width: 500px;
    
  /*   I want my height to be a total of 700px, but there's a 20px padding all around, so I'm giving it a height of 660px (700 - 20 - 20) */
    height: 660px; 
    padding: 20px;
    
  /*   This makes it horizontally centered */
  /*   It only works on "display:block" elements */
    margin: auto;
    
  /*   This makes it centered vertically */
  /*   It's 50% of the height, and subtracting half of the total height of the poster (which is 700px)'*/  
    margin-top: calc(50vh - 350px);
}

@font-face {
  font-family: Courgette;
  src: url(Courgette-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(Oswald-Bold.ttf);
}

 h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Courgette';
  line-height: 0.6;
  text-align: center;
  color: #ffcb05;
  margin-top: 20px;
  margin-bottom: 50px;

 }
.special {
  font-size: 55px;
  color: #c7a008;
}

h2 {
  font-size: 40px;
  font-family: Oswald;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.2;
  text-align: center;
  color: white;

}

h3 {
  font-size: 20px;
  font-family: Oswald;
  text-align: center;
  text-transform: uppercase;
  color: #c7a008;
  line-height: 1;
}

.images {
  background-color:red;

}

.pikachu {
  width: calc(100% - 40px);
  height: auto;
  position: absolute;
  bottom: 18px;
  display: block;
  left: 16px;
}

.eevee {
  width: calc(100% - 40px);
  height: auto;
  position: absolute;
  bottom: 22px;
  display: block;
  left: 270px;
  padding: 5px;
}

img {
  width: 50%;

}

.felthat {
  display: none;
  width: calc(100% - 40px);
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.strawhat {
  display:none;
  width: calc(100% - 40px);
  height: auto;
  position: absolute;
  bottom: 22px;
  left: 270px;
  padding: 5px;
}

.container:hover {
  background: #FCE6A8;
}

.container:hover #title {
  color: crimson;

}

.container:hover #location {
  color: black;

}

.container:hover #dates {
  color:black; 

}

.container:hover .pikachu {
  display:none;
}

.container:hover .felthat {
  display:block;
}

.container:hover .eevee {
  display: none;

}

.container:hover .strawhat {
  display:block;
}