/* Version 1: Poster Shape */

.container {
    background: #FCE6A8;
    position: relative;
    width: 500px;
    
  /*   I want my height to be a total of 700px, but there's a 20px padding all around, so I'm giving it a height of 660px (700 - 20 - 20) */
    height: 660px; 
    padding: 20px;
    
  /*   This makes it horizontally centered */
  /*   It only works on "display:block" elements */
    margin: auto;
    
  /*   This makes it centered vertically */
  /*   It's 50% of the height, and subtracting half of the total height of the poster (which is 700px)'*/  
    margin-top: calc(50vh - 350px);
}

img {
    width: 100%;
  }

.sunflowers {
    display: none;
    width: 90%;
    margin: auto;
}

.pokemon {
  display: block;
  width: 90%;
  margin: auto;
  
}

.pokemon:hover {
  display:none;

}

.pokemon:hover ~ .sunflowers {
  display: block;

}

@font-face {
    font-family: Courgette;
    src: url(Courgette-Regular.ttf);
  }

@font-face {
    font-family: Oswald;
    src: url(Oswald-Regular.ttf);
  }





 h1 {
  font-size: 33px;
  font-weight: bold;
  font-family: 'Courgette';
  line-height: 0;
  color: crimson;
  letter-spacing: -.08em;

 }

.special {
    color: orange;
}

h2 {
  font-size: 15px;
  font-family: Oswald;

  text-transform: uppercase;
  line-height: 1.1;

}

h3 {
  font-size: 12px;
  font-family: Oswald;
  text-transform: uppercase;
  line-height: 1;
}

#title {

position:absolute;
bottom: 33px;
left: 40px;

}

#location {
  position: absolute;
  right: 40px;
  bottom: 39px;

}

#dates {
  position: absolute;
  right: 40px;
  bottom: 20px;


}
